.Cardcontainer{
    width: 400px;
    height: 470px;
    text-align: center;
    margin: 50px;
    margin-left: 500px;
    background-color: antiquewhite;
}
img{
    margin-top: 20px;
}
h2{
    margin-top: 50px;
    color: rgb(214, 51, 106);
    margin: 2px;
}
.btn{
    background-color: rgb(134, 4, 67);
    color: aliceblue;
}